.container {
 margin-top: 50px;
 background-color: black;
}
.containerlinks {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.perfil {
    border-radius: 175px;
    width: 120px;
    height: 120px;
}
img{
    border-radius: 10px;
    width: 40;
    height: 40px;
}
a.link-imagem{
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent !important;
}

img.link-imagem {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
 font-size: 18px;
}
body {
 background-color: #5df3bd;
 font-family: 'Inter', sans-serif;
 color: white;
 text-align: center;
}
a {
 background-color: transparent !important;
 font-size: 20px;
 border-radius: 10px;
 padding: 10px;
 display: block;
 text-align: center;
 margin: 10px;
 color: black;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem 10%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 0.9rem;
    font-weight: bold;
}

.logo span {
    color: #080e15;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

.btn-nav {
    background: #007bff;
    color: #fff !important;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    border-radius: 5px;
}