.container {
 margin-top: 50px;
}
.containerlinks {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.perfil {
    border-radius: 175px;
    width: 120px;
    height: 120px;
}
img{
    border-radius: 10px;
    width: 40;
    height: 40px;
}
a.link-imagem{
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent !important;
}

img.link-imagem {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
 font-size: 18px;
}
body {
 background-color: #5df3bd;
 font-family: Trebuchet MS;
 color: white;
 text-align: center;
}
a {
 background-color: transparent !important;
 font-size: 20px;
 border-radius: 10px;
 padding: 10px;
 display: block;
 text-align: center;
 margin: 10px;
 color: black;
}